body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
}



main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book-card {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 200px;
}

.book-image {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #35424a;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}
